html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("assets/first_location_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    overflow: hidden;
}

.ship, .planet, .star {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

.ship {
    width: 30px;
    height: 30px;
    background: #362942;
    border-radius: 50%;
    bottom: 40px;
    will-change: transform;
}

.planet {
    width: 60px;
    height: 60px;
    background-image: url("assets/planet1.png");
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    z-index: -1;
}

.star {
    background-image: url("assets/star1.png");
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 70px whitesmoke);
}

#controler {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 1100px;
    height: 800px;
    left: 50%;
    bottom: -90%;
    border: 10px solid #362942;
    transform: translate(-50%, 0);
    backdrop-filter: blur(10px);
    transition: bottom 0.3s ease-in-out;
}

.show {
    bottom: -10% !important;
}

select {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #362942;
    border-radius: 5px;
    background-color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}