html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("assets/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    overflow: hidden;
}

* {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #927ba5;
}

#logo {
    position: absolute;
    height: 80px;
    left: 50%; top: 100px;
    transform: translate(-50%, 0);
}

#mainMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 50%; top: 240px;
    gap: 40px;
    transform: translate(-50%, 0);
    font-size: 70px;
}
#mainMenu a {
    text-decoration: none;
}

.ship, .planet, .star {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

.ship {
    width: 30px;
    height: 30px;
    background: #362942;
    border-radius: 50%;
    bottom: 40px;
    will-change: transform;
}

.planet {
    width: 60px;
    height: 60px;
    background-image: url("assets/planet1.png");
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    z-index: -1;
}

.star {
    background-image: url("assets/star1.png");
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 70px whitesmoke);
}

#controler {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 940px;
    height: 640px;
    left: 50%;
    bottom: -90%;
    padding: 80px;
    border: 10px solid #362942;
    transform: translate(-50%, 0);
    backdrop-filter: blur(10px);
    transition: bottom 0.3s ease-in-out;
    font-size: 24px;
}

#compositionStage, #cargos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

#approveBtn, #startBtn {
    background-color: #362942;
    flex-basis: 100%;
    font-size: 24px;
    height: 49px;
    border: none;
    transition: background-color 0.3s ease-in-out;
}
#approveBtn:hover .add-cargo {
    background-color: #44324e;
}

.add-cargo {
    background-color: #362942;
    width: 200px;
    font-size: 24px;
    height: 49px;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.show {
    bottom: -10% !important;
}

select {
    padding: 10px 15px;
    font-size: 24px;
    border: 5px solid #362942;
    background-color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
}

select::-ms-expand {
    display: none;
}

input {
    background: transparent;
    border: 5px solid #362942;
    color: #927ba5;
    padding: 6px 10px;
    font-size: 24px;
    text-align: center;
    outline: none;
}

#duelContainer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 70%; height: 600px;
    left: 50%; bottom: 0;
    border: 10px solid #362942;
    transform: translate(-50%, 0);
    backdrop-filter: blur(10px);
}

#duelContainer h2 {
    text-align: center;
    font-size: 28px;
}

#textContainer {
    padding: 30px;
    font-size: 28px;
    white-space: pre;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 440px;
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #362942;
}

::-webkit-scrollbar-thumb:hover {
    background: #44324e;
}